ipywidgets==8.1.2
matplotlib==3.8.4
pandas==2.2.2
torch==2.8.0
torchvision==0.23.0
tqdm==4.66.4
streamlit==1.28.1
pandas==2.0.3
numpy==1.24.3
plotly==5.15.0
scipy==1.11.2
pytz==2023.3
breeze-connect==1.0.36
